<div class="container">
  <div class="header-body text-center mb-7">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <h1 class="text-success">Bem Vindo!</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card text-white bg-success border-secondary">
        <div class="card-header bg-light">
          <div class="text-center text-secondary mt-2 mb-3">
            <small>Sign up with</small>
          </div>
          <div class="btn-wrapper text-center">
            <a class="btn btn-neutral btn-icon btn-inner--text text-secondary" href="#"><i
                class="text-primary fa fa-facebook fa-2x" aria-hidden="true"></i>&nbsp; Facebook</a>
            <a class="btn btn-neutral btn-icon btn-inner--text text-secondary" href="#"><i
                class="text-danger fa fa-google fa-2x" aria-hidden="true"></i>&nbsp; Google</a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-3">
          <div class="text-center mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <form class="needs-validation" novalidate [formGroup]="form">
            <div class="form-row">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="text-success fa fa-user" aria-hidden="true"></i></span>
                </div>
                <input class="form-control" placeholder="Name" type="text" formControlName="name"
                  [ngClass]="{'is-invalid' : submitted && this.form.get('name').errors}" />

                <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['required']">
                  Please name is required.
                </div>
                <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['minLength']">
                  Min length for name is 3.
                </div>
                <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['maxLength']">
                  Max length for name is 30.
                </div>
              </div>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="text-success fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" formControlName="email"
                  [ngClass]="{'is-invalid' : submitted && hasError('email')}" />
                <div class="invalid-feedback" *ngIf="hasError('email') && hasError('email')['required']">
                  Please email is required.
                </div>
                <div class="invalid-feedback" *ngIf="hasError('email') && hasError('email')['email']">
                  Email is invalid format.
                </div>
              </div>
              <div class="input-group input-group-alternative  mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="text-success fa fa-key" aria-hidden="true"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password"
                  [ngClass]="{'is-invalid' : submitted && hasError('password')}" />

                <div class="invalid-feedback" *ngIf="hasError('password') && hasError('password')['required']">
                  Please password is required.
                </div>
                <div class="invalid-feedback" *ngIf="hasError('password') && hasError('password')['minLength']">
                  Min length for password is 8.
                </div>
                <div class="invalid-feedback" *ngIf="hasError('password') && hasError('password')['maxLength']">
                  Max length for password is 15.
                </div>
              </div>
              <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox" />
                    <label class="custom-control-label" for="customCheckRegister">
                      <span class="text-white">I agree with the
                        <a class="text-dark" href="#!">Privacy Policy</a></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center" *ngIf="!loading">
              <button type="submit" class="btn btn-light mt-4 text-success" (click)="registerUser()">
                Create account
              </button>
            </div>
          </form>
          <div *ngIf="loading" style="margin-top: 10px">
            <h4 class="fieldset-title text-center text-light">
              <i class="fa fa-spinner mr-3 fa-spin"></i>
              Processando solicitação
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>