<div class="container">
  <div class="header-body text-center mb-7">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <h1 class="text-success">Bem Vindo!</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row justify-content-center">
  <div class="col-lg-5 col-md-7">
    <div class="card text-white bg-success border-secondary">
      <div class="card-header bg-light">
        <div class="text-center text-secondary mt-2 mb-3"><small>Sign up with</small></div>
        <div class="btn-wrapper text-center">
          <a  class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon"><img src="../assets/img/icons/common/facebook.png"></span>
            <span class="btn-inner--text text-secondary">Facebook</span>
          </a>
          <a class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.png"></span>
            <span class="btn-inner--text text-secondary">Google</span>
          </a>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-3">
        <div class="text-center mb-4">
          <small>Or sign up with credentials</small>
        </div>
        <form role="form">       
            <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><img src="https://img.icons8.com/android/18/298A08/user.png"></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text">
                </div>
              </div>  
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><img src="https://img.icons8.com/ios/18/298A08/new-post-filled.png"></span>
                  </div>
                  <input class="form-control" placeholder="Email" type="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><img src="https://img.icons8.com/ios/18/298A08/forgot-password-filled.png"></span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password">
                </div>
              </div>
              <div class="text-white font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>           
              <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                    <label class="custom-control-label" for="customCheckRegister">
                      <span class="text-white">I agree with the <a class="text-dark" href="#!">Privacy Policy</a></span>
                    </label>
                  </div>
                </div>
              </div>
          <div class="text-center">
              <button type="button" class="btn btn-light mt-4 text-success">Create account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
