footer{
    background: #E6E6E6;
    color: #6E6E6E;
    position: absolute;
    left: 0px;
  }
  .textFooter{
    margin-top: auto;
    margin-bottom: auto;
  }
  .textFooter p{
    margin:0;
  }
  .logo-footer {
    text-align: right;
  }

  @media screen and  (max-width:575px) {
    .logo-footer {
      text-align: center;
    }
    .logo-footer img {
      width: 100%;
      height: 120px;            
    }
  }