<div class="card">
  <div class="card-body">
    <h5 class="card-title">Recuperação de senha</h5>
    <h6 class="card-subtitle mb-2 text-muted">Digite seu endereço de e-mail abaixo para receber as instruções:</h6>
    <form class="needs-validation" novalidate [formGroup]="form">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="text-success fa fa-envelope" aria-hidden="true"></i></span>
        </div>
        <input class="text-success form-control" placeholder="Email" type="email" formControlName="email"
          [ngClass]="{'is-invalid' : submitted && hasError('email')}" />
      </div>
      <div class="form-validator-error" *ngIf="hasError('email') && hasError('email')['required']">
        Please email is required.
      </div>
      <div class="form-validator-error" *ngIf="hasError('email') && hasError('email')['email']">
        Email invalid.
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success col-4" style="margin-top: 10px" (click)="reset()"
          [disabled]="!form.valid">Enviar</button>
      </div>
    </form>
  </div>
</div>