<div class="principal">
    <div class="containet-fluid">
        <section class="section-search">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Nem todo herói usa capa...</h1>
                    <div class="row form-inline">
                        <div class="input-group col-md-6">
                            <input class="form-control py-2 border-right-0 border" type="search">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="input-group col-md-2">
                            <select class="form-control" id="exampleFormControlSelect2">
                                <option selected>Região</option>
                                <option>Região 2</option>
                            </select>
                        </div>
                        <div class="input-group col-md-2">
                            <select class="form-control" id="exampleFormControlSelect2">
                                <option selected>Data</option>
                                <option>Data 2</option>
                            </select>
                        </div>
                        <div class="input-group col-md-2">
                            <select class="form-control" id="exampleFormControlSelect2">
                                <option selected>Categorias</option>
                                <option>Categoria 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-calendar">
            <div class="container">
                <h1>Próximos Eventos</h1>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../../../assets/img/trash.jpg" width="100%" height="225" class="card-img-top"
                                alt="Evento">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center info-event">
                                    <div class="col-sm-4 data-event">
                                        <h3>ABRIL</h3>
                                        <h2>06</h2>
                                    </div>
                                    <div class="col-sm-8 description-event">
                                        <p>Título da ação</p>
                                        <p>Recife-PE</p>
                                        <p>Praia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../../../assets/img/trash.jpg" width="100%" height="225" class="card-img-top"
                                alt="Evento">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center info-event">
                                    <div class="col-sm-4 data-event">
                                        <h3>ABRIL</h3>
                                        <h2>13</h2>
                                    </div>
                                    <div class="col-sm-8 description-event">
                                        <p>Título da ação</p>
                                        <p>Recife-PE</p>
                                        <p>Praia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../../../assets/img/trash.jpg" width="100%" height="225" class="card-img-top"
                                alt="Evento">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center info-event">
                                    <div class="col-sm-4 data-event">
                                        <h3>ABRIL</h3>
                                        <h2>20</h2>
                                    </div>
                                    <div class="col-sm-8 description-event">
                                        <p>Título da ação</p>
                                        <p>Recife-PE</p>
                                        <p>Praia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../../../assets/img/trash.jpg" width="100%" height="225" class="card-img-top"
                                alt="Evento">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center info-event">
                                    <div class="col-sm-4 data-event">
                                        <h3>ABRIL</h3>
                                        <h2>27</h2>
                                    </div>
                                    <div class="col-sm-8 description-event">
                                        <p>Título da ação</p>
                                        <p>Recife-PE</p>
                                        <p>Praia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../../../assets/img/trash.jpg" width="100%" height="225" class="card-img-top"
                                alt="Evento">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center info-event">
                                    <div class="col-sm-4 data-event">
                                        <h3>MAIO</h3>
                                        <h2>04</h2>
                                    </div>
                                    <div class="col-sm-8 description-event">
                                        <p>Título da ação</p>
                                        <p>Recife-PE</p>
                                        <p>Praia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../../../assets/img/trash.jpg" width="100%" height="225" class="card-img-top"
                                alt="Evento">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center info-event">
                                    <div class="col-sm-4 data-event">
                                        <h3>MAIO</h3>
                                        <h2>11</h2>
                                    </div>
                                    <div class="col-sm-8 description-event">
                                        <p>Título da ação</p>
                                        <p>Recife-PE</p>
                                        <p>Praia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section-slider">
            <div class="container">
                <div>
                    <carousel>
                        <slide *ngFor="let img of images">
                            <img class="d-block w-100" [src]="img" alt="Random first slide">
                            <div class="carousel-caption">
                                <h3>First slide label</h3>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </section>

        <section class="section-aboutus">
            <div class="container">
                <h1>Sobre nós</h1>
                <div class="row">
                    <div class="col-12 ">
                        <div class="box d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed diam blandit,
                                    porttitor libero vel, feugiat metus. Proin et pellentesque nisl. Nulla elementum
                                    ante nec pretium ultrices. Nullam blandit augue vitae odio gravida vestibulum in sed
                                    risus. Vestibulum nec massa malesuada, tincidunt dolor sit amet, dictum justo."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>