footer{
    background: #313131;
    color: #ffffff;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
  .textFooter{
    margin-top: auto;
    margin-bottom: auto;
  }
  .textFooter p{
    margin:0;
  }