<footer class="container-fluid">
  <div class="row">
      <div class="col-sm-6 textFooter">
          <div>Este projeto foi criado para fins didáticos por estudantes dos cursos de Bacharelado e Licenciatura em Computação da UFRPE.</div>
          <div> Estudantes:</div>
          <div>Disciplinas: IHM e WEB.</div>
      </div>
      <div class="col-sm-6 logo-footer">
          <img class="img-fluid" src="../../assets/img/logo-fundo-branco.png" width="150px" height="auto" alt="BetterWorld">
      </div>
  </div>
</footer>