/* NAVBAR */
.navbar{
    padding: 0rem 1rem;
  }
  .navbar-light .navbar-nav .active>.nav-link{
    color: #46803c;
  }
  .navbar-light .navbar-nav .nav-link{
    color: #549f46;
    font-size: 1.5em;
  }

.drop-profile{
  right: 0;
  left: unset;
}

.dropdown-item-profile{
  display: flex;
  justify-content: space-between;
}