<div class="container">
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <h1 class="display-2 text-success">Hello {{shared.user.name}}</h1>
      <p class="text-success mt-0 mb-5">This is your profile page. You can see the progress you've made with your work
        and manage your projects or assigned tasks</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile ">
        <div class="card-header text-center">
          <div class="d-flex justify-content-between">
            <a href="" class="btn btn-sm btn-info col-2">Add</a>
            <a href="" class="btn btn-sm btn-dark col-2">Message</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2 d-flex justify-content-center">
            <div class="card-profile-image">
              <a href="">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle" width="200" height="200">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <div class="row">
              <div class="col-4">
                <span>22</span>
                <span> Friends</span>
              </div>
              <div class="col-4">
                <span>10</span>
                <span> Photos</span>
              </div>
              <div class="col-4">
                <span>89</span>
                <span> Comments</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{shared.user.name}}<span class="font-weight-light">, 24</span>
            </h3>
            <div class="h5 font-weight-300">
              Recife, Pernambuco
            </div>
            <div class="h5 mt-4">
              BetterWorld - Creative Project
            </div>
            <div>
              University of Computer Science
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right text-white">
              <a *ngIf="!edit && !submitted" class="btn btn-sm bg-secondary col-4" (click)="editMode()">Edit</a>
              <a *ngIf="edit" class="btn btn-sm btn-success col-4" (click)="updateUser()">Salve</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form id="form" class="needs-validation" novalidate [formGroup]="form">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-control-label">Email address</label>
                  <input type="email" class="form-control" placeholder="Email" value="{{shared.user.email}}"
                    formControlName="email" [ngClass]="{'is-invalid' : submitted && hasError('email')}">
                  <div class="invalid-feedback" *ngIf="hasError('email') && hasError('email')['email']">
                    Email is invalid format.
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="form-control-label">Name</label>
                  <input type="text" class="form-control" placeholder="Name" value="{{shared.user.name}}"
                    formControlName="name" [ngClass]="{'is-invalid' : submitted && this.form.get('name').errors}">
                  <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['minLength']">
                    Min length for name is 3.
                  </div>
                  <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['maxLength']">
                    Max length for name is 30.
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <!-- Address  -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-control-label">Address</label>
                  <input class="form-control" placeholder="Home Address" type="text">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <label class="form-control-label">City</label>
                  <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label">Country</label>
                  <input type="text" class="form-control" placeholder="Country">
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label">Postal code</label>
                  <input type="number" class="form-control" placeholder="Postal code">
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <label>About Me</label>
              <textarea rows="4" class="form-control" placeholder="A little about myself ..."></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<app-footer style="margin-top: 100px"></app-footer>