<div class="container-fornecedor mt-3">
  <div *ngIf="loading">
    <h3 class="fieldset-title text-center">
      <i class="fa fa-spinner mr-3 fa-spin"></i>
      Estamos validando a sua conta
    </h3>
  </div>
  <div *ngIf="error">
    <h3 class="fieldset-title text-center">
      <i class="fa fa-frown-o mr-3"></i>
      Algo deu errado
    </h3>
  </div>
  <div *ngIf="confirmed text-center">
    <h3 class="fieldset-title center">
      <i class="fa fa-spinner mr-3 fa-spin"></i>
      Sua conta foi confirmada com sucesso
    </h3>
  </div>
</div>